
body {
    background-color: #f5f5f5;
}

label {
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.form-container {
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-label-group {
    position: relative;
    margin-bottom: 1rem;
    font-size: 14px;
}

    .form-label-group > label:hover {
        cursor: text;
    }


.custom-control-label:hover {
    cursor: pointer;
}

#contract {
    text-decoration: underline !important;
}
