

<footer class="py-5 bg-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">

                <h5><strong>Site Haritası</strong></h5>
                <hr />

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About"><i class="fa fa-info-circle"></i> Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/MostLiked"><i class="fa fa-heart"></i> En Beğenilenler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index"><i class="fa fa-list"></i> Son Yazılanlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-center">

                <h5><strong>MyEvernote</strong></h5>
                <hr />

                <p>Her hakkı saklıdır MyEvernote @DateTime.Now.Year</p>
            </div>
            <div class="col-md-4 text-center">

                <h5><strong>E-Bülten Üyelik</strong> </h5>
                <hr />

                <p>Son gelişmelerden haberdar olmak için E-Bülten sistemimize üye olabilirsiniz.</p>

                <div class="px-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="E-posta adresiniz..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-send"></i> Gönder</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
